@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    #como-funciona-section {
        background-color: #FBFBFB;
        padding-top: 10vh;
        width: 100vw;
        
    }
    #como-funciona-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 120vh;
    }

#como-funciona-section h2{
    text-align: center;
    font-weight: 600;
    font-size: 3.5vh;
    margin-bottom: 5vh;
}
#como-funciona-flex>div:nth-child(1){
    margin: 0 5vw;
}
#como-funciona-flex>div:nth-child(2){
    margin: 0 5vw;
}
#como-funciona-flex>div:nth-child(3){
    margin: 0 5vw;
}

}
