#contato-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 28vw;
  height: 90vh;
  margin-left: 10vw;
  border: solid #57656e 0.2vw;
  background-color: #e1e8ed;
  color: #57656e;
  border-radius: 1em;
  box-shadow: 10px 10px 5px grey;
}

form h3 {
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
}
.contato-form-row {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.contato-form-multiple-choice {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-items: center;
  height: 20vh;
  justify-content: space-between;
}

.contato-form-checkbox {
  height: 10vh;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 2vh;
}
form p {
  font-size: 1.3em;
  text-align: center;
}
form button {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff5c5c;
  font-size: 2.5vh;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  width: 14vw;
  height: 6vh;
  text-align: center;
  vertical-align: center;
  align-items: center;
  color: white;
  margin: 1vh 5vw;
}
form button:hover {
  background-color: #ff0000;
}
form img {
  height: 2vh;
}

.contato-form-row input {
  height: 4vh;
  width: 17.5vw;
}
.contato-form-row ::placeholder {
  font-size: 2vh;
}

.contato-form-row select {
  height: 4.5vh;
  width: 18vw;
}

input {
  font-size: 2vh;
}
select {
  font-size: 2vh;
}

.checkmark {
}

input[type='checkbox' i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  height: 100px;
}

#contato-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
#contato-flex img {
  height: 40vh;
  width: 30vw;
}
@media screen and (min-device-width: 320px) and (max-device-width: 820px) {
  height: 50px;
}

strong {
  color: #ff5c5c;
}

#contato-flex h2 {
  font-weight: 600;
  margin: 0 10vh 5vw;
  font-size: 5vh;
  text-align: center;
}
